@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">LTCSDL</h1>
    <p>Demo với <a href="https://docs.microsoft.com/aspnet/core">Web sử dụng ASP.NET Core</a>.</p>
</div>
